body {
  background-color: #F2F5FA;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #415273;
}

.logo-container > header{

background: #F2F5FA;
box-shadow: -2px -2px 6.5px #FFFFFF, 2px 2px 6.5px rgba(174, 174, 192, 0.4);
display: inline-flex;
align-items: center;
margin: 40px;
padding-top: 4px;
padding-bottom: 4px;
padding-right: 17px;
padding-left: 5px;
border-radius: 21px;
}

.logo-container > header > h1 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  color: #728AB7;
}

.main-container{
  margin: 40px 10vw 40px 10vw;
  display: flex;
}

#inputTextBox{
  resize: none;
  height: 60vh;
  width: 60vh;
  outline: none;
  border: none;
  padding: 20px;
  overflow: hidden;

  text-align: left;
  color: #415273;
  font-weight: 400;
  font-size: 16px;

  background: #E5ECF7;
  box-shadow: inset -1px -1px 1px rgba(245, 245, 245, 0.7), inset 1px 1px 5px 1px rgba(194, 194, 210, 0.39);
  border-radius: 22px;
}

.textOutputBox-container{
  display: block;
}

.textOutputBox-container > img{
  width: 30%;
}

